<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View All Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header-row">  <!-- size-lg="4" size-md="4" size-sm="6" size="12" -->
      <ion-col size="1" style="text-align: center;">Course Name</ion-col>
      <ion-col size="1" style="text-align: center;">Course Fee</ion-col>
      <ion-col size="1" style="text-align: center;">Course Duration</ion-col>
      <ion-col size="1" style="text-align: center;"># of Enrolments</ion-col>
      <ion-col size="2" style="text-align: center;">Enrolled Students</ion-col>
      <ion-col size="1.5" style="text-align: center;">Start Time</ion-col>
      <ion-col size="1.5" style="text-align: center;">End Time</ion-col>
      <ion-col size="2" style="text-align: center;">Context</ion-col>
      <ion-col size="1" style="text-align: center;">Action</ion-col>
    </ion-row>

    <ion-row *ngFor="let row of courses; let i=index" class="data-row">
      <ion-col size="1" style="text-align: center;">{{row.CourseName}}</ion-col>
      <ion-col size="1" style="text-align: center;">{{row.CourseFee}}</ion-col>
      <ion-col size="1" style="text-align: center;">{{row.Duration}}</ion-col>
      <ion-col size="1" style="text-align: center;">{{row.NumberOfEnrollments}}</ion-col>
      <ion-col size="2" style="text-align: center;">{{row.EnrolledStudents}}</ion-col>
      <ion-col size="1.5" style="text-align: center;">{{row.CourseStartTime}}</ion-col>
      <ion-col size="1.5" style="text-align: center;">{{row.CourseEndTime}}</ion-col>
      <ion-col size="2" style="text-align: center;">{{row.Context}}</ion-col>
      <ion-col size="1" style="text-align: center;">
        <ion-button size="small" (click)="deleteCourse(row.ID)" color="ligth" fill="clear">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
