.header-row{
  border-bottom: 2px solid black;
  font-size:small;
  align-items: center;
  text-align: center;
  width:100%
}
.data-row{
  border-bottom: 1px solid black;
  font-size: small;
  align-items: center;
  text-align: center;
  width:100%
}
