<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">StudentName</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.StudentName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">StudentSurname</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.StudentSurname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">StudentUserName</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.UserName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">StudentPassword</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">StudentEmail</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">EnrolledCourses</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.EnrolledCourses"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">StudentAddress</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.Address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">StudentContactNo</ion-label>
      <ion-input type="text" [(ngModel)]="loginedStudent.ContactNo"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="EditStudent()">Edit Student</ion-button>
</ion-content>
